<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Poll!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <link rel="stylesheet" href="http://openlayers.org/en/v3.11.2/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.11.2/build/ol.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>
    
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

 <%= if @current_user do %>
    <h2>Welcome, <%= @current_user.name %>!</h2>
    <img src="<%= @current_user.avatar %>" class="img-circle"/>
    <%= link "Logout", to: authentication_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
    <br>
  <% else %>
    <a class="btn btn-primary btn-lg" href="/auth/github">
      <i class="fa fa-github"></i>
      Sign in with GitHub
    </a>

    <a class="btn btn-primary btn-lg" href="/auth/facebook">
      <i class="fa fa-facebook"></i>
      Sign in with Facebook
    </a>

    <a class="btn btn-primary btn-lg" href="/auth/google">
      <i class="fa fa-google"></i>
      Sign in with Google
    </a>

    <a class="btn btn-primary btn-lg" href="/auth/slack">
      <i class="fa fa-slack"></i>
      Sign in with Slack
    </a>

    <a class="btn btn-primary btn-lg" href="/auth/twitter">
      <i class="fa fa-twitter"></i>
      Sign in with Twitter
    </a>

    <a class="btn btn-primary btn-lg" href="/auth/identity">
      <i class="fa fa-user"></i>
      Sign in with Username/Password
    </a>
  <% end %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
